@use '../../scss/abstracts/' as *;

.dashboard-wrapper {
  @include flex(stretch);
  @include tablet {
    flex-direction: column;
  }

  &__main {
    flex-grow: 1;
    // padding-right: $sideBarWidth;

    @include tablet {
      padding-right: 0;
    }
  }
}
